@model IEnumerable<ModelLayer.Models.PatientModel>

@{
    ViewData["Title"] = "GetAllPatients";
}

<h1>GetAllPatients</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient_Id)
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.IsTrash)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concern)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient_Id)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.IsTrash)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageLink)
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.DOB) *@
                    @item.DOB.ToString("d")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact_Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concern)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdatePatient", new {  id=item.Patient_Id }) |
                    @Html.ActionLink("Details", "GetPatientById", new {  id=item.Patient_Id  }) |
                    @Html.ActionLink("Delete", "DeletePatient", new {  id=item.Patient_Id })
                </td>
            </tr>
        }
    </tbody>
</table>
